<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block metas %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('zircosTemplate/assets/images/favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body {% block bodyAtt %}{% endblock %} >
    {% block body %}{% endblock %}
    {% block javascriptsBottom %}{% endblock %}
    </body>
</html>
