{% extends 'base.html.twig' %}

{% block bodyAtt %}class="fixed-left"{% endblock %}

{% block body %}
    <div id="wrapper">
        {{ include('zircosTemplate/bloquesGenerales/menuEncabezado.html.twig') }}

        {{ include('zircosTemplate/bloquesGenerales/menuIzquierdo.html.twig') }}

        {{ include('zircosTemplate/bloquesGenerales/encabezado.html.twig') }}

        {{ include('zircosTemplate/bloquesGenerales/pie.html.twig') }}
    </div>
{% endblock %}