{% extends 'base.html.twig' %}

{% block bodyAtt %}class="bg-transparent"{% endblock %}

{% block body %}
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="#" class="text-success">
                                    <span><img src="{{ asset ('zircosTemplate/assets/images/logo.png') }}" alt="" height="36"></span>
                                </a>
                            </h2>
                        </div>
                        <div class="account-content">
                            <form class="form-signin" action="{{ path('acceso') }}" method="POST">
                                <h2 class="form-signin-heading">Por favor ingrese</h2>

                                <label for="_username" class="sr-only">Nombre de usuario</label>
                                <input type="text"
                                       id="_username"
                                       name="_username"
                                       class="form-control"
                                       placeholder="Nombre de usuario"
                                       required=""
                                       autofocus=""
                                       autocomplete="off">

                                <label for="_password" class="sr-only">Contraseña</label>
                                <input type="password"
                                       id="_password"
                                       name="_password"
                                       class="form-control"
                                       placeholder="Password"
                                       required=""
                                       autocomplete="off">

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

                            </form>
                            {#{{ form(form) }}#}


                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- end card-box-->


                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="#" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}